*{
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: oldlace;
}

.texto {
    position: absolute;
    width: 50%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    background-color: #f3f5fc;
}

.texto::placeholder {
    color: #000000;
}

.texto:focus,
texto-active {
    border: none;
    outline: none;
}

.clausulas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.clausulas p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 26%;
    top: 82%;
    gap: 10px;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 15%;
    background-color: #495057;
    border-radius: 14px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
}

.btn-desencriptar {
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 15%;
    background-color: #495057;
    border-radius: 14px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8); 
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 5%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: rgb(226, 155, 63);
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .clausulas {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .clausulas p {
        font-size: 16px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }

    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }
}


